@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using LibraryApplicationSystem.Web.Models.Borrowers
@using LibraryApplicationSystem.Web.Startup
@model CreateOrEditBorrowerViewModel

@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Borrowers/CreateOrEditBorrower.js" asp-append-version="true"></script>
    </environment>
}

<form name="CreateBorrowerForm" id="CreateBorrowerForm" role="form" class="form-horizontal">

    <div class="modal-body" style="">
        <label style="font-size:24px" class="col-md-3 col-form-label">Edit Borrowers</label>
        <input type="hidden" name="Id" value="@Model?.Id" data-dept-name />

        <div class="form-group row required">
            <div class="col-12">
                <div style="display:flex; justify-content:center;align-items:center;" class="row">

                    <div class="col-md-6 form-group">

                        <div class="form-group row required">
                            <label class="col-md-3 col-form-label" for="Name">Borrowed Date</label>
                            <input id="BorrowerDate" type="datetime-local" name="BorrowerDate" value="@Model?.BorrowerDate" placeholder="Borrowed Date" class="form-control" data-dept-BorrowerDate required>
                        </div>

                        <div class="form-group row required">
                            <label class="col-md-4 col-form-label" for="Name">Expected Return Date</label>
                            <input id="ExpectedReturnDate" type="datetime-local" name="ExpectedReturnDate" value="@Model?.ExpectedReturnDate" placeholder="Expected Return" class="form-control" data-dept-ExpectedReturnDate required>
                        </div>

                        <div class="form-group row required">
                            <label class="col-md-3 col-form-label" for="Name">Returned Date</label>
                            <input id="ReturnDate" type="datetime-local" name="ReturnDate" value="@Model?.ReturnDate" placeholder="Returned Date" class="form-control" data-dept-ReturnDate required>
                        </div>

                        <div class="form-group row required">
                            <label class="col-md-3 col-form-label" for="Name">Select Book</label>
                            @Html.DropDownListFor(m => m.BookId, Model.Book.Select(d => new SelectListItem {Text = d.BookTitle, Value = d.Id.ToString()}),"Select Book", new {@class = "form-control"})
                        </div>

                        <div class="form-group row required">
                            <label class="col-md-3 col-form-label" for="Name">Select Student</label>
                            @Html.DropDownListFor(m => m.StudentId, Model.Student.Select(d => new SelectListItem {Text = d.StudentName, Value = d.Id.ToString()}),"Select Student", new {@class = "form-control"})
                        </div>


                    </div>
                </div>

                <div style="display:flex; justify-content:center;align-items:center;" class="row">
                    <button id="Submit" type="submit" name="Submit" class="btn bg-blue float-sm-right save-button"> Submit </button>
                    <button id="Cancel" type="button" name="Cancel" class="btn btn-sm bg-secondary cancel-button">Cancel</button>
                </div>
            </div>


        </div>
    </div>
</form>