@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using LibraryApplicationSystem.Web.Models.Books
@using LibraryApplicationSystem.Web.Startup
@model CreateOrEditBookViewModel

@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Books/CreateOrEditBook.js" asp-append-version="true"></script>
    </environment>
}

<form name="CreateBookForm" id="CreateBookForm" role="form" class="form-horizontal">

    <div class="modal-body" style="">
        <label style="font-size:24px" class="col-md-3 col-form-label">Create Book</label>
        <input type="hidden" name="Id" value="@Model?.Id" data-dept-name />

        <div class="form-group row required">
            <div class="col-12">
                <div style="display:flex; justify-content:center;align-items:center;" class="row">

                    <div class="col-md-6 form-group">

                        <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="Name">Book Title</label>
                            <input id="BookTitle" type="text" name="BookTitle" value="@Model?.BookTitle" placeholder="Book Title" class="form-control" data-dept-BookTitle required>
                        </div>

                        <div class="form-group row required">
                            <label class="col-md-4 col-form-label" for="Name">Book Publisher</label>
                            <input id="BookPublisher" type="text" name="BookPublisher" value="@Model?.BookPublisher" placeholder="Book Publisher" class="form-control" data-dept-BookPublisher required>
                      </div>  

                        <div class="form-group row required">
                            <label class="col-md-3 col-form-label" for="Name">Book Author</label>
                            @Html.DropDownListFor(m => m.AuthorId, Model.Author.Select(d => new SelectListItem {Text = d.Name, Value = d.Id.ToString()}),"Select Book Author", new {@class = "form-control"})
                        </div>
                    
                        <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="Name">Book Category</label>
                            @Html.DropDownListFor(m => m.BookCategoriesId, Model.BookCategories.Select(d => new SelectListItem {Text = d.Name, Value = d.Id.ToString()}),"Select Book Category", new {@class = "form-control"})
                        </div>

                       @*<div class="form-group row required">
                            <label class="col-md-3 col-form-label" for="Name">Is Borrowed</label>
                            <input id="isBorrowed" type="checkbox" name="isBorrowed" value="@Model?.isBorrowed" data-dept-isBorrowed>
                        </div>*@


                    </div>
                </div>
                
                <div style="display:flex; justify-content:center;align-items:center;" class="row">
                    <button id="Submit" type="submit" name="Submit" class="btn bg-blue float-sm-right save-button"> Submit </button>
                    <button id="Cancel" type="button" name="Cancel" class="btn btn-sm bg-secondary cancel-button">Cancel</button>
                </div>
            </div>
           

        </div>
    </div>
</form>